<div class="container">
<div class="row">
  <button (click)="updateMessage()">Change Message</button>
  <p>{{ message() }}</p>
</div>


<hr>
<input 
  [(ngModel)] ="inputValue().text"
  placeholder="Type something"
/>

<p class="count-box">You typed: {{ inputValue().text }}</p>
<hr>

<div class="row">
  <button (click)="increment()">Increase Count</button>

  @if (count() === 0) {
    <p class="count-box">Count is zero</p>
  } @else {
    <p class="count-box">Count is {{ count() }}</p>
  }
</div>

<hr>

@defer(on interaction) {
  @for (n of [1,2,3,4]; track n) {
  <p>Number: {{ n }}</p>
}
} @placeholder {<p class="loading">Loading...</p>}
</div>